In [29]:
print("Tshepiso Mashiane")

Tshepiso Mashiane

In [38]:
Age=23
name="Tshepi"
hobby= "coding"
langueage= "phyton"
year=2024
print(f"My name is {name} and i am {23} years of age, i love {hobby} hence i started to actively learning {langueage} this year {year}. ")

My name is Tshepi and i am 23 years of age, i love coding hence i started to actively learning phyton this year 2024.

#Tuples and Lists

In [2]:
#Tuples
#Tuples are an ordered sequence. 
#Tuples are expressed as comma separated elements within parentheses.
#These are values inside the parentheses. 
#In Python, there are different types: strings, integer, float. They can all be contained in a tuple but the type of the variable is tuple. Each element of a tuple can be accessed via an index.
 
tuple1=("disconut",1,2,3.4)

In [3]:
print(tuple1)

('disconut', 1, 2, 3.4)

In [4]:
tuple1[0] #using indexing on tuples

'disconut'

In [5]:
tuple1[1]

1

In [6]:
tuple[2]

tuple[2]

In [7]:
tuple2=tuple1+("hard rock",20) #concatinating tuples and indexing

In [8]:
tuple2[0] #indexing

'disconut'

In [9]:
tuple2[4]

'hard rock'

In [11]:
tuple2[0:4] #index slicing

('disconut', 1, 2, 3.4)

In [41]:
#if we want the last two element
tuple2[4:6] #to call out the last element in our indexing we call the index number after the index number of the last varible

('hard rock', 20)

In [15]:
#length of the tuple

In [16]:
len(tuple2)

6

In [17]:
#tuples are Immutable, meaning we can not change or manipulate them, to manipulate a tuple we need to create and new tuple

In [18]:
#e.g sorting a tuple

In [60]:
Ratings={10,9,6,5,10,8,9,6,2}
RatingSorted= sorted(Ratings)
print(RatingSorted)

[2, 5, 6, 8, 9, 10]

In [26]:
# sum of all tuple values
RatingSum=sum(Ratings)
print(RatingSum)

65

In [ ]:
#sum of three  tuple values
RatingSumOfThreeValues= (Ratings[0]+Ratings[2]+Ratings[8]) #I dont know what i am doing here but i was trying to think outside the box. 
RatingSumOfThreeValues= sum(Ratings[0],Ratings[2],Ratings[8])# seems like the box is too big to think out of it as yet, but i am coming for you dear python
print(RatingSumOfThreeValues)

In [28]:
#Tuple:Nesting
NT=(1,2,("pop","rock"),(3,4),("disc",(1,2)))
NT[2][1] #choosing "rock" for my elements using indexing

'rock'

In [57]:
#let find the one and two at the end of our elements
NT[4][1][0],NT[4][1][1]

(1, 2)

In [58]:
#Indexing from the nested index
NT[2][0],NT[3][1], NT[4][0]

('pop', 4, 'disc')

In [61]:
#List
#lists are mutable, we can change the elements of the list without creating the new list,
#lists can be made up of any data type, e.g string,int,etc
#indexing and slicing still apply the same way with tuples

In [63]:
 # let see if we can really manipulate the list without creating another list
L=["TShepiso",23,5.6]
L.extend(["Mashiane",100])
print(L)

['TShepiso', 23, 5.6, 'Mashiane', 100]

In [65]:
L.append("T")
print(L)

['TShepiso', 23, 5.6, 'Mashiane', 100, 'T', 'T']

In [71]:
#replace an element of the list
L[0]= "Promise"
print(L)

['Promise', 23, 5.6, 'Mashiane', 100, 'T', 'T']

In [80]:
#delete the element of the list
del(L[4] # i notice that I cannot run thus delete function twice containing the same index number, because the element at index 5 does no longer exist
print(L)

['Promise', 23, 5.6, 'Mashiane']

In [85]:
#slit function for data manipulation
List=["A,B,C,D"]
List="A,B,C,D".split(",")
print(List)

['A', 'B', 'C', 'D']

In [86]:
# Aliasing

In [95]:
L1=["A",1,2]
L2=L1[:]
L1[0]="Tshepiso"
Print(L1)

NameError: name 'Print' is not defined

In [97]:
A=(1,2,3,4,5)
A[1:4]

(2, 3, 4)

In [98]:
B=[1,2,[3,'a'],[4,'b']]
B[3][1]

'b'

In [99]:
[1,2,3] + [1,1,1]

[1, 2, 3, 1, 1, 1]

In [ ]:
#DICTIONARIES
#A dictionary has keys and values. 
#The key is analogous to the index. 
#They are like addresses, but they don't have to be integers.
#They are usually characters. 
#The values are similar to the element in a list and contain information. 
#The keys are the first elements. They must be immutable and unique. 
#Each key is followed by a value separated by a colon. The values can be immutable, mutable, and duplicates.
#Each key and value pair is separated by a comma.

In [ ]:
#creating Dictionaries


DICT={"a":1,"b":"Tshepi","c":[3,3,2],"key4":94,[1,2,4],('key5'):10}

DICT["key1"]

In [103]:
#adding new entry to the dictionry
DICT["i learn dictionaries"]=1

NameError: name 'DICT' is not defined

In [ ]:
#deleting Dictionary
del(DICT["key1"])

In [104]:
#verify if the element is in the dictionary
"key2" in DICT
DICT.values()

NameError: name 'DICT' is not defined

In [105]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

In [107]:
# correct syntax to extract the keys of a dictionary as a list
list(Dict.keys())

['A', 'B', 'C', 'D', 'E', 'F']

In [109]:
del(Dict["A"])
print(Dict)

KeyError: 'A'

In [ ]:
#SETS
# Sets are a type of collection.
#This means that like lists and tuples, you can input different Python types.
#Unlike lists and tuples, they are unordered. This means sets do not record element position. 
#Sets only have unique elements. This means there is only one of a particular element in a set.

In [115]:

#create set
Set_1={1,2,3,4,5,5,2}
Set_2={3,5,6,7,8}
Lt=["A",'b','c','d']
print(Set_1)

{1, 2, 3, 4, 5}

In [116]:
#type casting
set_list=set(Lt)
print(set_list) #Unlike lists and tuples, they are unordered

{'b', 'A', 'c', 'd'}

In [121]:
#Set operation for data manipulation
#Add item to a set
Set_2.add('a')
Set_2.add('e'), Set_2.add('f')

print(Set_2)

{'a', 3, 5, 6, 7, 8, 'e', 'f'}

In [125]:
#remove a element from a set
Set_2.remove('e')
print(Set_2)

{3, 5, 6, 7, 8, 'f'}

In [126]:
#intersection of two sets
intersection_of_two_sets=Set_1&Set_2
print(intersection_of_two_sets)

{3, 5}

In [127]:
Union_of_sets=intersection_of_two_sets.union(Lt)
print(Union_of_sets)

{3, 5, 'b', 'A', 'c', 'd'}

In [128]:
subset=intersection_of_two_sets.issubset(Set_1)
print(subset)

True

In [129]:
intersection_of_two_sets.issubset(Lt)

False

In [ ]:
‘a’==‘A’